@model DatekCCAN.Models.CCAN

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>CCAN</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ServiceOrder5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ServiceOrder5" class="form-control" />
                <span asp-validation-for="ServiceOrder5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SID5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SID5" class="form-control" />
                <span asp-validation-for="SID5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TQ5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TQ5" class="form-control" />
                <span asp-validation-for="TQ5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AO5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AO5" class="form-control" />
                <span asp-validation-for="AO5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name5" class="form-control" />
                <span asp-validation-for="Name5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglOrderItenos5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglOrderItenos5" class="form-control" />
                <span asp-validation-for="TglOrderItenos5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Alamat5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Alamat5" class="form-control" />
                <span asp-validation-for="Alamat5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="KomenItenos5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="KomenItenos5" class="form-control" />
                <span asp-validation-for="KomenItenos5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Pic5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Pic5" class="form-control" />
                <span asp-validation-for="Pic5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AreaCode5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AreaCode5" class="form-control" />
                <span asp-validation-for="AreaCode5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Metro5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Metro5" class="form-control" />
                <span asp-validation-for="Metro5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Dat5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Dat5" class="form-control" />
                <span asp-validation-for="Dat5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Gpon5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Gpon5" class="form-control" />
                <span asp-validation-for="Gpon5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SN5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SN5" class="form-control" />
                <span asp-validation-for="SN5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Vlan5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Vlan5" class="form-control" />
                <span asp-validation-for="Vlan5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglPerintahSurvei5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglPerintahSurvei5" class="form-control" />
                <span asp-validation-for="TglPerintahSurvei5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglHasilSurvei5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglHasilSurvei5" class="form-control" />
                <span asp-validation-for="TglHasilSurvei5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TaggingPelanggan5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TaggingPelanggan5" class="form-control" />
                <span asp-validation-for="TaggingPelanggan5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TeknisiSurvei5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TeknisiSurvei5" class="form-control" />
                <span asp-validation-for="TeknisiSurvei5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TaggingODP5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TaggingODP5" class="form-control" />
                <span asp-validation-for="TaggingODP5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglPerintahPT15" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglPerintahPT15" class="form-control" />
                <span asp-validation-for="TglPerintahPT15" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglSelesaiPTmin15" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglSelesaiPTmin15" class="form-control" />
                <span asp-validation-for="TglSelesaiPTmin15" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TeknisiPTmin15" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TeknisiPTmin15" class="form-control" />
                <span asp-validation-for="TeknisiPTmin15" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglPerintahJT5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglPerintahJT5" class="form-control" />
                <span asp-validation-for="TglPerintahJT5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglJTSelesai5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglJTSelesai5" class="form-control" />
                <span asp-validation-for="TglJTSelesai5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Komen5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Komen5" class="form-control" />
                <span asp-validation-for="Komen5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglClosed5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglClosed5" class="form-control" />
                <span asp-validation-for="TglClosed5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Status5" class="form-control" />
                <span asp-validation-for="Status5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
