@model DatekCCAN.Models.WAN

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>WAN</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ServiceOrder4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ServiceOrder4" class="form-control" />
                <span asp-validation-for="ServiceOrder4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SID4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SID4" class="form-control" />
                <span asp-validation-for="SID4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TQ4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TQ4" class="form-control" />
                <span asp-validation-for="TQ4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AO4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AO4" class="form-control" />
                <span asp-validation-for="AO4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name4" class="form-control" />
                <span asp-validation-for="Name4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglOrderItenos4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglOrderItenos4" class="form-control" />
                <span asp-validation-for="TglOrderItenos4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Alamat4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Alamat4" class="form-control" />
                <span asp-validation-for="Alamat4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="KomenItenos4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="KomenItenos4" class="form-control" />
                <span asp-validation-for="KomenItenos4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Pic4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Pic4" class="form-control" />
                <span asp-validation-for="Pic4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AreaCode4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AreaCode4" class="form-control" />
                <span asp-validation-for="AreaCode4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Metro4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Metro4" class="form-control" />
                <span asp-validation-for="Metro4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Dat4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Dat4" class="form-control" />
                <span asp-validation-for="Dat4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Gpon4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Gpon4" class="form-control" />
                <span asp-validation-for="Gpon4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SN4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SN4" class="form-control" />
                <span asp-validation-for="SN4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Vlan4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Vlan4" class="form-control" />
                <span asp-validation-for="Vlan4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglPerintahSurvei4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglPerintahSurvei4" class="form-control" />
                <span asp-validation-for="TglPerintahSurvei4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglHasilSurvei4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglHasilSurvei4" class="form-control" />
                <span asp-validation-for="TglHasilSurvei4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TaggingPelanggan4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TaggingPelanggan4" class="form-control" />
                <span asp-validation-for="TaggingPelanggan4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TeknisiSurvei4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TeknisiSurvei4" class="form-control" />
                <span asp-validation-for="TeknisiSurvei4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TaggingODP4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TaggingODP4" class="form-control" />
                <span asp-validation-for="TaggingODP4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglPerintahPT14" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglPerintahPT14" class="form-control" />
                <span asp-validation-for="TglPerintahPT14" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglSelesaiPTmin14" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglSelesaiPTmin14" class="form-control" />
                <span asp-validation-for="TglSelesaiPTmin14" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TeknisiPTmin14" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TeknisiPTmin14" class="form-control" />
                <span asp-validation-for="TeknisiPTmin14" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglPerintahJT4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglPerintahJT4" class="form-control" />
                <span asp-validation-for="TglPerintahJT4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglJTSelesai4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglJTSelesai4" class="form-control" />
                <span asp-validation-for="TglJTSelesai4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Komen4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Komen4" class="form-control" />
                <span asp-validation-for="Komen4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglClosed4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglClosed4" class="form-control" />
                <span asp-validation-for="TglClosed4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Status4" class="form-control" />
                <span asp-validation-for="Status4" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
