@model DatekCCAN.Models.WantTSEL

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>WantTSEL</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID3" />
        <div class="form-group">
            <label asp-for="ServiceOrder3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ServiceOrder3" class="form-control" />
                <span asp-validation-for="ServiceOrder3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SID3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SID3" class="form-control" />
                <span asp-validation-for="SID3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TQ3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TQ3" class="form-control" />
                <span asp-validation-for="TQ3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AO3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AO3" class="form-control" />
                <span asp-validation-for="AO3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name3" class="form-control" />
                <span asp-validation-for="Name3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglOrderItenos3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglOrderItenos3" class="form-control" />
                <span asp-validation-for="TglOrderItenos3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Alamat3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Alamat3" class="form-control" />
                <span asp-validation-for="Alamat3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="KomenItenos3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="KomenItenos3" class="form-control" />
                <span asp-validation-for="KomenItenos3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Pic3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Pic3" class="form-control" />
                <span asp-validation-for="Pic3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AreaCode3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AreaCode3" class="form-control" />
                <span asp-validation-for="AreaCode3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Metro3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Metro3" class="form-control" />
                <span asp-validation-for="Metro3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Dat3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Dat3" class="form-control" />
                <span asp-validation-for="Dat3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Gpon3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Gpon3" class="form-control" />
                <span asp-validation-for="Gpon3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SN3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SN3" class="form-control" />
                <span asp-validation-for="SN3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Vlan3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Vlan3" class="form-control" />
                <span asp-validation-for="Vlan3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglPerintahSurvei3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglPerintahSurvei3" class="form-control" />
                <span asp-validation-for="TglPerintahSurvei3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglHasilSurvei3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglHasilSurvei3" class="form-control" />
                <span asp-validation-for="TglHasilSurvei3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TaggingPelanggan3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TaggingPelanggan3" class="form-control" />
                <span asp-validation-for="TaggingPelanggan3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TeknisiSurvei3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TeknisiSurvei3" class="form-control" />
                <span asp-validation-for="TeknisiSurvei3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TaggingODP3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TaggingODP3" class="form-control" />
                <span asp-validation-for="TaggingODP3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglPerintahPT13" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglPerintahPT13" class="form-control" />
                <span asp-validation-for="TglPerintahPT13" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglSelesaiPTmin13" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglSelesaiPTmin13" class="form-control" />
                <span asp-validation-for="TglSelesaiPTmin13" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TeknisiPTmin13" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TeknisiPTmin13" class="form-control" />
                <span asp-validation-for="TeknisiPTmin13" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglPerintahJT3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglPerintahJT3" class="form-control" />
                <span asp-validation-for="TglPerintahJT3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglJTSelesai3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglJTSelesai3" class="form-control" />
                <span asp-validation-for="TglJTSelesai3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Komen3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Komen3" class="form-control" />
                <span asp-validation-for="Komen3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TglClosed3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TglClosed3" class="form-control" />
                <span asp-validation-for="TglClosed3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Status3" class="form-control" />
                <span asp-validation-for="Status3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SiteID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SiteID" class="form-control" />
                <span asp-validation-for="SiteID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Long" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Long" class="form-control" />
                <span asp-validation-for="Long" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Lat" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Lat" class="form-control" />
                <span asp-validation-for="Lat" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
