@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Selamat Datang</h2>
        <p>
            Silahkan Pilih menu yang diinginkan diatas.
        </p>
    </div>
</div>